body {
    background-color: black;
    color: white;
    font-family: "Consolas";
}

header{
    display: flex;
}

nav{
    background-color: grey;
    height: 20px;
    margin-top: 5px;
}

.logo{
    align-self: left;
    height: 75px;
}

.title{
    text-align: center;
    padding-left: 100px;
    flex-basis: 70%;
}

.colorMode{
    float: right;
    text-align: center;
    margin-left: auto;
    margin-top: 30px;
    padding-left: 10px;
    height: auto;
    font-size: 17px;
    background-color: rgba(15, 75, 75, 0.632);
    color: white;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: right;
}

h4 {
    text-align: center;
}

.text{
    flex-direction: column;
}

p{
    padding-left: 20px;
    padding-right: 20px;
}

section{
    background-color: rgba(15, 75, 75, 0.632);
    border-radius: 20px;
}